<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
</head>
<body>
    <div style="text-align:center; margin-top:50px;">
    <h1>Thank you For Shopping</h1>
    <br>
    <div>
    <h5> {{data.name}} </h5>
        <h5> {{data.mob}} </h5>
        <h5> {{data.add}} </h5>
        <h5> {{data.pin}} </h5>
        <h5> {{data.state}} </h5>
        
    </div>

    <h3>We will deliver your product in 2/3 days </h3>

    <br><br>
    <a href="/" >Continue Shopping</a>

    </div>



</body>
</html>