<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>
<body>

  
  <h1 style="text-align:center">Student</h1>
  <table class="table table-bordered">

                <thead>
                  <tr>
                    <th scope="col">SNo.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Class</th>
                    <th scope="col">Roll No.</th>
                    <th scope="col">Age</th>
                    <th scope="col">City</th>
                  </tr>
                </thead>
                <tbody id="list">
                    {{#each student as |data|}}
                 <tr>
                     <td>{{data.id}}</td>
                     <td>{{data.name}}</td>
                     <td>{{data.class}}</td>
                     <td>{{data.rollno}}</td>
                     <td>{{data.age}}</td>
                     <td>{{data.city}}</td>
                 </tr>
                 {{/each}}

                </tbody>
              </table>    

</body>
</html>